# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Model Weights
*.pt
*.pth
*.onnx

# Dataset Cache
.cache/

# Operating System
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env
